<div class="container h-100 ">
<h1>Product List...............</h1>
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">

      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title alert-success text-center">Update</div>
        </div>
        <div class="ibox-body">

          <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">

            <div class="form-group">
              <label for="productName">Product Name</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" class="form-control"
                     value="{{productList?.productName}}"
                     formControlName="productName" id="productName"
                     type="text"/>
              <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                <div *ngIf="f.productName.errors.required">Product Name is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="code">Code</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.code.errors }" class="form-control"
                     value="{{productList?.code}}"
                     formControlName="code" id="code"
                     type="text"/>
              <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                <div *ngIf="f.code.errors.required">Valid Code is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.description.errors }" class="form-control"
                     value="{{productList?.description}}"
                     formControlName="description" id="description"
                     type="text"/>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description must more  </div>
              </div>
            </div>

            <div class="form-group">
              <label for="qty">Quentity</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.qty.errors }" class="form-control"
                     value="{{productList?.qty}}"
                     formControlName="qty" id="qty"
                     type="text"/>
              <div *ngIf="submitted && f.qty.errors" class="invalid-feedback">
                <div *ngIf="f.qty.errors.required">Quentity is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="unitPrice">Unit Price</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.unitPrice.errors }" class="form-control"
                     value="{{productList?.unitPrice}}"
                     formControlName="unitPrice" id="unitPrice"
                     type="text"/>
              <div *ngIf="submitted && f.unitPrice.errors" class="invalid-feedback">
                <div *ngIf="f.unitPrice.errors.required">Unit Price  is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="unitInStock">Unit In Stock</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.unitInStock.errors }" class="form-control"
                     value="{{productList?.unitInStock}}"
                     formControlName="unitInStock" id="unitInStock"
                     type="text"/>
              <div *ngIf="submitted && f.unitInStock.errors" class="invalid-feedback">
                <div *ngIf="f.unitInStock.errors.required">Unit In Stock is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="imageUrl">Image Url</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.imageUrl.errors }" class="form-control"
                     value="{{productList?.imageUrl}}"
                     formControlName="imageUrl" id="imageUrl"
                     type="text"/>
              <div *ngIf="submitted && f.imageUrl.errors" class="invalid-feedback">
                <div *ngIf="f.imageUrl.errors.required">Image Url is required</div>
              </div>
            </div>

            <div *ngIf="submitted && serverError!=''" class="form-group mb-4 row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <div class="text-danger">{{ serverError }}</div>
              </div>
            </div>
            <div class="form-group text-right">
              <button (click)="back()" class="btn btn-primary mr-2">Back</button>
              <button class="btn btn-primary">Update Product</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




