<!DOCTYPE html>
<html>
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/assets/image/favicon.ioc" >
  <title>Ecommerce Application</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/resources/assets/home/css/bootstrap.css">
  <link rel="stylesheet" href="/resources/assets/home/css/linericon/style.css">
  <link rel="stylesheet" href="/resources/assets/home/css/font-awesome.min.css">
  <link rel="stylesheet" href="/resources/assets/home/css/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/resources/assets/home/css/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/resources/assets/home/css/nice-select//resources/assets/home/css/nice-select.css">
  <link rel="stylesheet" href="/resources/assets/home/css/owl-carousel/owl.carousel.min.css">
  <!-- main css -->
  <link rel="stylesheet" href="/resources/assets/home/css/style.css">
  <link rel="stylesheet" href="/resources/assets/home/css/responsive.css">
</head>
<body>

<!--================Header Area =================-->
<header class="header_area">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand logo_h" href="index.html"><img src="/assets/image/favicon.ico" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
        <ul class="nav navbar-nav menu_nav ml-auto">
          <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/product">Product</a></li>
          <li class="nav-item"><a class="nav-link" href="/product-list">Product List</a></li>
          <li class="nav-item"><a class="nav-link" href="/category">Category</a></li>
          <li class="nav-item"><a class="nav-link" href="/category-list">Category List</a></li>
          <li class="nav-item"><a class="nav-link" href="/order">Order</a></li>
          <li class="nav-item"><a class="nav-link" href="/order-list">Order List</a></li>
          <li class="nav-item"><a class="nav-link" href="/card">Card</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
          <li class="nav-item submenu dropdown">
            <a href="/login/login" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link" href="#">Admin Login</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Employee Login</a></li>
              <li class="nav-item"><a class="nav-link" href="#">User Login</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--================Header Area End=================-->

<!--================Carosol Area Start=================-->


<!--================Carosol Area End=================-->

<!--================Cart Area Start=================-->
<section class="accomodation_area section_gap">
  <div class="container">
    <div class="section_title text-center">
      <h1 class="title_color">Home Page</h1>
      <h4>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast.</h4>
    </div>
    <div class="row mb_30">
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="/payment/payment" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Mobile Phone</h4></a>
          <h5>$250<small>/=</small></h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Laptop</h4></a>
          <h5>$200<small>/=</small></h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Apple Watch</h4></a>
          <h5>$750<small>/=</small></h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Programming Book</h4></a>
          <h5>$200<small>/=</small></h5>
        </div>
      </div>
    </div>
    <div class="row mb_30">
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Samsung Tab</h4></a>
          <h5>$250<small>/=</small></h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Bashundhara Tissu</h4></a>
          <h5>$200<small>/=</small></h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">T-Shart</h4></a>
          <h5>$750<small>/=</small></h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Water Bottle</h4></a>
          <h5>$200<small>/=</small></h5>
        </div>
      </div>
    </div>
    <div class="row mb_30">
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Headphone</h4></a>
          <h5>$250<small>/=</small></h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Tea-Box</h4></a>
          <h5>$200<small>/=</small></h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Nescafe Classic</h4></a>
          <h5>$750<small>/=</small></h5>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="accomodation_item text-center">
          <div class="hotel_img">
            <img src="/assets/image/icon.png" alt="">
            <a href="#" class="btn btn-warning button_hover">Book Now</a>
          </div>
          <a href="#"><h4 class="sec_h4">Motore Byke</h4></a>
          <h5>$200<small>/=</small></h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Cart Area End=================-->

<!--================Menu Area Start=================-->
<div class="container h-40 ">

  <div class="row align-items-center h-60">
    <div class="col-6 mx-auto">

      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Ecommerce Application</div>
        </div>
        <div class="ibox-body">
          Please <a [routerLink]="['startapp']">Get Start</a> to dashboard.
        </div>
        <div>
          Employee <a [routerLink]="['employee/list']">List Show</a> to dashboard.
        </div>
        <div>
          Employee <a [routerLink]="['/demo']">Demo Show</a> to dashboard.
        </div>
        <br>
        <div>
          <a [routerLink]="['/category']">Create Category</a>
        </div>
        <div>
          <a [routerLink]="['/category-list']"> Category List</a>
        </div>
        <div>
           <a [routerLink]="['/product']">Create Product</a>
        </div>
        <div>
          <a [routerLink]="['/product-list']"> Product List</a>
        </div>
        <div>
          <a [routerLink]="['/order']">Create Order</a>
        </div>
        <div>
          <a [routerLink]="['/order-list']"> Order List</a>
        </div>
        <div>
          <a [routerLink]="['/orderProduct']">Create OrderProduct</a>
        </div>
        <div>
          <a [routerLink]="['/orderProduct-list']"> OrderProduct List</a>
        </div>
        <div>
          <a [routerLink]="['/cart']">Create Cart</a>
        </div>
        <div>
          <a [routerLink]="['/cart-list']"> Cart List</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!--================Menu Area End=================-->
